<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

<!-- Welcome form -->
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h2>Добро пожаловать в Lingoduo!</h2>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}! Это платформа для изучения сербского языка.</p>
            <p>Ты можешь <a href="{% url 'words_adding' %}">добавить новое слово</a> или <a href="{% url 'words_list' %}">просмотреть все слова</a>,</p>
            <p>а также <a href="{% url 'quiz' %}">сыграть в квиз</a> и <a href="{% url 'users_rating' %}">сравнить результат с другими</a>.</p>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <p>Платформа для изучения сербского языка.
                <br>
                Добавляйте слова, переводы и изображения для эффективного обучения.
                <br>
                Для этого, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}