<!-- templates/words_list.html -->
{% extends 'base.html' %}

{% block title %}Список слов{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <h2 class="center-align">Словарь</h2>

        <!-- Кнопка назад и добавить новое слово -->
        <div class="row">
            <div class="col s6">
                <a href="{% url 'index' %}" class="btn-flat waves-effect">
                    <i class="material-icons left">arrow_back</i>На главную
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="col s6 right-align">
                <a href="{% url 'words_adding' %}" class="btn waves-effect waves-light">
                    <i class="material-icons left">add</i>Добавить слово
                </a>
            </div>
            {% endif %}
        </div>

        <!-- Вывод сообщений -->
        {% if messages %}
            {% for message in messages %}
                <div class="card-panel {% if message.tags == 'error' %}red lighten-4 red-text{% else %}green lighten-4 green-text{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Список слов -->
        {% if words %}
            <div class="row">
                {% for word in words %}
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <!-- Картинка слова (если есть) -->
                            {% if word.image %}
                                <div class="card-image">
                                    <img src="{{ word.image.url }}" alt="{{ word.original }}">
                                </div>
                            {% endif %}

                            <div class="card-content">
                                <!-- Сербское слово -->
                                <span class="card-title activator grey-text text-darken-4">
                                    <i class="material-icons left">language</i>
                                    {{ word.original }}
                                </span>

                                <!-- Переводы -->
                                <div class="divider"></div>
                                <h6 class="mt-3">
                                    <i class="material-icons tiny">translate</i>Переводы:
                                </h6>

                                {% if word.wordtranslation_set.all %}
                                    <ul class="collection">
                                        {% for translation in word.wordtranslation_set.all %}
                                            <li class="collection-item">
                                                {{ translation.translated }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="grey-text text-lighten-1">Нет переводов</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <!-- Если слов нет -->
            <div class="card-panel teal lighten-5 center-align">
                <i class="material-icons large grey-text text-lighten-1">inbox</i>
                <h5 class="grey-text text-lighten-1">Слов пока нет</h5>
                <p class="grey-text text-lighten-1">Добавьте первое слово!</p>
                <a href="{% url 'words_adding' %}" class="btn waves-effect waves-light">
                    <i class="material-icons left">add</i>Добавить слово
                </a>
            </div>
        {% endif %}
    </div>
</div>

<!-- Стили для карточек -->
<style>
    .card-image img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .card-title {
        font-size: 1.5rem !important;
        line-height: 1.3 !important;
    }

    .collection-item {
        padding: 10px 16px;
    }

    .mt-3 {
        margin-top: 15px;
    }
</style>
{% endblock %}